/*VARIABLES*/
$font-primary: "Poppins", sans-serif;
$color-font: #2b4851;
$color-font2: grey;
$color-font_light: #81a3ad;
$color-font3: #efd6d1;

/*ALL*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: $font-primary;
}

/*BUTTONS*/
$botones: (
    acciona: $color-font_light,
    gral: $color-font2,
    tienda: $color-font3,
);
@each $fondo, $color in $botones {
    .btn-#{$fondo} {
        background-color: $color;
        color: white;
    }
}

.btn {
    text-decoration: none;
}

/*NAVBAR*/
.container_nav {
    margin: 10%;
    margin-top: unset;
    margin-bottom: unset;
    .logo {
        width: 50%;
    }
}

.navbar {
    font-size: 150%;
    a {
        text-decoration: none;
        color: $color-font2;
    }
    a:hover {
        color: white;
    }
}

.show .navbar-nav {
    margin: 2%;
}

@media (max-width: 987px) {
    .navbar-nav {
        border-radius: 2%;
        background-color: rgba(255, 255, 255, 0.952);
        box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: +1;
        .style_nav {
            display: grid;
            padding: 10px;
        }
        li {
            padding: 2%;
            font-size: 70%;
        }
    }
}

/*INDEX*/
.body_img {
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.posicionamiento1 {
    display: flex;
    justify-content: center;
}

.posicionamiento {
    width: 100%;
}

.card {
    width: 350px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 0% 50px 10% 25%;
    p {
        font-size: 110%;
        margin: 10%;
        text-align: center;
        letter-spacing: 2px;
        color: $color-font2;
        font-weight: bold;
    }
}
.card2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 50%;
    padding-right: 10%;
    .logo_garantia {
        width: 50%;
        background-color: white;
        border-radius: 50%;
    }
}

@media (max-width: 987px) {
    .body_img {
        height: 100%;
    }
    .posicionamiento1 {
        margin-left: 30%;
    }
    .posicionamiento {
        width: 80%;
    }

    .card {
        font-size: 50%;
        display: flex;
        columns: 100%;
        width: 50%;
    }
    .card2 {
        justify-content: center;
        margin-top: 20%;
        padding: unset;
        .logo_garantia {
            width: 30%;
            border-radius: 30%;
        }
    }
}

/*ACCIONA*/
.body_acciona {
    background-image: url(../img/fondo_acciona-05.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card3 {
    font-size: 50%;
    display: flex;
    margin: unset;
    margin-top: 10%;
    margin-bottom: 10%;
}

.accion {
    display: flex;
    justify-content: space-around;
}

.card {
    p {
        font-size: 130%;
    }
}
.card-body {
    display: inline-grid;
    justify-content: center;
}

.nosotros {
    width: 55%;
}

@media (max-width: 987px) {
    .body_acciona {
        height: 100%;
    }

    .accion {
        display: grid;
        justify-items: center;
    }
    .card {
        font-size: 50%;
        display: flex;
        columns: 100%;
        width: 50%;
    }
    .card3 {
        margin-top: 5%;
    }
}

/*TIENDA*/
.filtros {
    display: flex;
    margin-left: 5%;
    list-style: none;
    a {
        color: $color-font;
        text-decoration: none;
    }
    .menu_filtros {
        background: border-box;
        padding: 20%;
        color: $color-font;
        border-radius: 5%;
    }
}

.grid_tienda {
    display: grid;
    grid-template-columns: 90% 90% 90%;
    margin-top: 5%;
}

.body_tienda {
    background-image: url(../img/fondo_tienda-06.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card_shop {
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    margin: 0% 50px 10% 25%;
    &:hover {
        background-color: transparent;
        box-shadow: -2px 10px 15px rgba(0, 0, 0, 0.7);
    }

    img {
        border-radius: 30px;
        &:hover {
            filter: saturate(150%);
        }
    }

    p {
        text-align: center;
        font-weight: bold;
        color: $color-font2;
        font-size: 120%;
    }
    .btn {
        margin-bottom: 5%;
        align-self: center;
        a {
            text-decoration: none;
        }
    }
    .btn-tienda {
        a {
            color: unset !important;
        }
        &:hover {
            border-radius: 30px;
            color: #81a3ad;
            background-color: white;
            border-color: #81a3ad;
        }
    }
}

@media (max-width: 987px) {
    .grid_tienda {
        grid-template-columns: 50% 50%;
    }

    .btn-tienda {
        margin-bottom: 2%;
        font-size: 60%;
        &:hover {
            border-radius: 10px;
        }
    }
    .card_shop {
        img {
            border-radius: 5px;
        }
        .card-body {
            p {
                font-size: 70%;
            }
        }
    }
}

/*MI CUENTA*/
.sign-in {
    padding-top: 3%;
    padding-bottom: 5%;
}

/*CONOCE-MAS-PRODUCTO*/

.body_prod {
    background-image: url(../img/fondo_tienda-06.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*CONOCE-MAS-PRODUCTO :: CARUSEL*/

.prod_carousel {
    padding-top: 10%;
    margin: 0px 60px;
}

.slick-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;

    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        transition: 0.5s ease-in-out;

        .slick {
            position: relative;
            width: 275px;
            padding: 0 18px;
            float: left;
            box-sizing: border-box;
            display: grid;
            grid-template-rows: 1fr 1fr;
            height: 100%;
        }
    }
}

.details__info {
    color: $color-font_light;
    &:hover {
        color: $color-font;
    }
}

.slick h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: $color-font;
    font-weight: bold;
    padding: 15px;
}
.slick h4 small {
    font-size: 15px;
    display: block;
}
.slick img {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.slick img:hover {
    opacity: 0.85;
}

/*CONOCE-MAS-PRODUCTO :: BUTTONS CARUSEL*/

.slick-arrow {
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus {
    outline: 0;
}
.slick-arrow svg {
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
}
.slick-prev {
    left: 0px;
}
.slick-next {
    right: 0px;
}

/*FORMULARIO EVENTO*/
.body_formulario {
    background-image: url(../img/fondo_formulario.png);
    background-repeat: no-repeat;
    background-size: cover;
}

fieldset {
    margin-bottom: 5%;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: bold;
    align-content: center;
    position: relative;
    padding: 30px;

    .enviar-form {
        width: 100%;
        font-size: 130%;
    }

    .button {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%;
        grid-template-rows: 90%;
        padding-top: 1%;
        margin-bottom: 5%;

        a {
            text-decoration: none;
            color: white;
        }
    }
}

/*NOSOTROS*/
.body_nosotros {
    background-image: url(../img/fondo_nosotros.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid_nosotros {
    display: grid;
    margin: 5% 10% 10% 10%;
    text-align-last: center;
    row-gap: 10%;
    width: 80%;

    .text_p {
        display: flex;
        text-align: center;
    }
}
.color_text {
    color: $color-font_light;
    font-weight: bold;
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: center;
}
